html {
	padding:0;
	margin:0;
	height:100%;
}

body {
	padding:0;
	margin:0;
	background-color: #F6F5F1;
	height:100%;
}

#logo {
	text-align: center;
	margin-bottom: 10px;
}

#logo #title {
	font-family: 'Fugaz One', Arial, sans-serif;
	font-size: 2.5em;
}

#logo #tagline {
	font-family: Arial, sans-serif;
	font-style:italic;
	font-size: 1em;
	color:#919191;
}

#content {
	width:70%;
	height:100%;
	margin-left: 15%;
	margin-right: 15%;
	min-width: 500px;
}

#search_content {
	position: relative;
	top:30%;
	width:100%;
}

#results_content {
	position: relative;
	top:0px;
	height:100%;
	width: 100%;
	max-width: 700px;
	margin:0 auto;
	opacity: 0;
	display:none;
}

#ac-input {
	display: block;
	position: relative;
	font-size: 25px; 
	width: 100%;
	max-width: 700px;
	margin:0 auto;
}

#go_arrow {
	cursor: pointer;
	height: 1.5em;
}